<body class="signpage">
  <div id="loader_form">
      <div data-loader="circle-side-2"></div>
  </div>
  <!-- /loader_form -->
  <div class="container-fluid full-height">
      <div class="row row-height">



          <!-- /content-right-->
          <div class="col-lg-6 content-left hiring-c sl-hide">
              <div class="content-left-wrapper">
                  <!-- <a href="index-2.html" id="logo"><img src="img/logo.png" alt="" width="49" height="35"></a> -->
                  <!-- Seeking Jobs Signup -->
          
                  <!-- #Seeking Jobs Signup -->
                  <!-- Hiring -->
                  <div class="jobs_hide animated slideInLeft">
                      <div class="sl-show hidden">
                          <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                      </div>
                      <h2 class="h2color">I'm here for Hiring</h2>
                      <img class="img-fluid" src="../../../assets/images/ai-recruiting-system.svg"
                          alt="Hiring Leader">
                      <div class="recruit_links">
                          <a class="btn_1 rounded" href="https://customer.arytic.com/login"  >Sign
                              In as Hiring Leader</a>
                          <a href="https://customer.arytic.com/signup" class="btn_1 rounded mobile_btn">Start Now!</a>
                          <div class="cust-login-btn">
                           <!-- <small class="loginhere">Already have an account? <a href="Javascript:void(0)"
                                      [routerLink]="['/customerlogin']">Login here</a></small>   -->
                             <small class="loginhere">Already have an account? <a
                              href="https://customer.arytic.com/signup"  >Sign Up here</a></small> 
                          </div>
                          <!-- <div>
                              <small class="text-white sl-show">I'm looking for Job <span class="hr-click">Click
                                      here</span></small>
                          </div> -->

                          <div>
                              <small>I'm Admin <a
                                  href="https://arytic.co/users-list"  >Click here</a></small>
                          </div>
                      </div>
                  </div>
                  <!-- #Hiring -->
              </div>
              <!-- /content-left-wrapper -->
          </div>
          <!-- Seeking Job -->
          <div class="col-lg-6 content-right p-0 bg_6cccfd job-c" id="start">
              <div class="content-left-wrapper">
                  <div class="animated slideInRight">
                      <div class="sl-show hidden">
                          <a href=""><img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic"></a>
                      </div>
                      <h2 class="text-white">I'm a Job Seeker</h2>
                      <img class="img-fluid" src="../../../assets/images/dream-job.svg" alt="Job Seeker">
                      <div class="job_links">
                          <a class="btn_1 rounded" href="https://candidate.arytic.com/login"  >Sign
                             In as a Job Seeker</a>
                          <a href="https://candidate.arytic.com/signup" class="btn_1 rounded mobile_btn">Start Now!</a>
                          <div class="cand-login-btn">
                          <!-- <small class="text-white">Already have an account? <a href="Javascript:void(0)"
                                      [routerLink]="['/candidatelogin']" class="text-white">Login here</a></small>  -->
                        
                              <small class="text-white">Already have an account? <a href="https://candidate.arytic.com/signup"
                                     class="text-white" >Sign Up here</a></small>  
                          </div>
                          <div>
                              <small class="text-white sl-show">I'm here for Hiring <span class="job-click">Click
                                      here</span></small>
                          </div>


                      </div>
                  </div>
              </div>
              <!-- /content-left-wrapper -->
          </div>
          <!-- #Seeking Job -->
          <!-- Hiring Signup -->
  
          <!-- #Hiring Signup -->
          <!-- /content-right-->
          <!-- /content-left -->
      </div>
      <!-- /row-->
  </div>
  <!-- /container-fluid -->
  <div class="sign_logo">
      <a href="">
          <img src="../../../assets/images/arytic-logo-contrast.png" alt="arytic" />
    
      </a>
  
  </div>


</body>